<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>CTS</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="~/Content/default.css">
	<link rel="stylesheet" href="~/Content/layout.css">
   <link rel="stylesheet" href="~/Content/media-queries.css">
   <link rel="stylesheet" href="~/Content/animate.css">
   <link rel="stylesheet" href="~/Content/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/search.css">

   <!-- Script
   ================================================== -->
	<script src="~/Scripts/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" />

</head>

<body>

   <div id="preloader">      
      <div id="status">
        @* <img src="~/images/preloader.gif" height="64" width="64" alt="">*@
      </div>
   </div>

   <!-- Header
   ================================================== -->
   <header>

     @* <div class="logo">
         <a class="smoothscroll" href="#hero"><img alt="" src="~/images/White_on_black_background_192x75.png" alt="" width="200" height="200"></a>
      </div>*@

      <nav id="nav-wrap">         
         
         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>         
        
         <ul id="nav" class="nav">
             <li><img alt="" src="~/images/White_on_black_background_192x75.png" alt="" width="200" height="50"></li>
           <li> <div class="HeadersearchBox"><input type="text" value="Search..." class="searchTextBox" id="search" /></div></li>
             <li> <img src="~/images/PUCIT.jpg" alt="" height="40" width="50"/></li>
             <li>@Html.ActionLink("pucit", "ViewProfileAdmin","Admin_Panel" ) </li>
            <li>@Html.ActionLink("Home", "depIndex","Department_Panel" )</li>
             <li>@Html.ActionLink("Complaints", "ComplaintsAdmin","Department_Panel" )></li>
	         <li>@Html.ActionLink("Search Complaints", "Search_Complaints_Admin","Department_Panel" )></li>
             <li>@Html.ActionLink("Map", "MapAdmin","Department_Panel" )></li>
             <li>@Html.ActionLink("Reports", "ReportsAdmin","Department_Panel" )></li>
            <li>@Html.ActionLink("About", "Index","Home/Index" )</li>
   
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <ul class="header-social">
         @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-google-plus"></i></a></li>*@
                 <nav id="nav-wrap">
	<ul id="nav" class="nav">
	
		<li><a href="#"><i class="fa fa-cog"></i></a>
			<ul>
				<li><a href="/Department_Panel/ViewProfileDep">View_profile</a></li>
				
				
						<li><a href="/Department_Panel/UpdateProfileDep">Update_profile</a></li>
					
                <li><a href="/Department_Panel/DeleteProfileDep">Delete_profile</a></li>
                    <li><a href="#">Logout</a></li>
			</ul>
		</li>
	
	</ul>
</nav>
      </ul>
                       

   </header> <!-- Header End -->
   <section id='login1'>
  <div style="height:30px"><h2 style="font-weight:normal;font-size:24px;margin:5px 500px;color:#0c0b0b;">Airtel Complaints & Reviews</h2></div>
        <div class="six columns center">
<table style="width:100%">
<tr><td><div id="c1001963">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/Department_Panel/PostCommentDep">Airtel - Regarding Postpaid connection deposit.</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2008622"><div class="profimgcont"><img src="~/images/PUCIT.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2008622">priyakotwani</a>
			 
			on Feb 1, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">Hi, 
I have deposited 250/- for converting my vodafone to airtel postpaid scheme, someone from your hadapsar office PUNE branch have collected all documents and signature with deposit, but till now i disnt got any feedback any now they are not responding my calls also. I am so frustrated with this kind of behaviour please help me in getteing my deposit back and now i dont want to convert it into airtel, before service if i have this response i dont know how they will behave after service i dont want to take any risk.
Plz reply as soon as possible and help me with this.
Regards
Priya Kotwani
8806128440....</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-regarding-postpaid-connection-deposit-c1001963#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001900">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-airtel-workers-are-abusing-to-customer-c1001900">Airtel - airtel workers are abusing to customer</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2008537"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2008537">shivampandey</a>
			 
			on Feb 1, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">Respected sir/mam, 
 I have bean abused by the aitel workers . l have received a cal from 09058891420 no. they said that u have to submitt your I'd again then I said I have already given then instead of giving information regarding it they abused and the have used a very bad language.
Sir I request you to please take some action regarding to it.

Thank you, 
Shivam
9971531808...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-airtel-workers-are-abusing-to-customer-c1001900#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bycategory/education">Education</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001872">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-deactivate-my-number-c1001872">Airtel - deactivate my number.</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2008508"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2008508">sara sara</a>
			 
			on Feb 1, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">I have been using airtel prepaid sim since 2006, I am very upset that the airtel employees are soo corrupt that they have given all the details of my outgoing and incoming calls with the call duration and sms' to some unknown person. I am very sure about it as that person has forwarded me all the details of my phn calls. Is this how you treat your valued customers.I want to immediately deactivate my number.not just stop using the sim and wait for 3 long months to get deactivated, as informed by one of your employee.i will take serious actions against your company if i further find that my details...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-deactivate-my-number-c1001872#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/security-services">Security Services</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001747">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-wrong-bill-and-fraud-services-on-the-bytes-usages-c1001747">Airtel - Wrong bill and fraud services on the bytes usages</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-1884533"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-1884533">chrao3@aol.in</a>
			 
			on Jan 31, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">I am using the airtel broad band 9677092681 from past 10 months. I paid all the bills but the speed and the usage was wrongly projected and made the speed as very low. When I called cse of airtel they were not able to rectify and so, I asked them to withdraw the my connection on 01/15/2015 with the current usage.

The bill will raise on 28th of every month and I need to pay before 14th of the next month. 

I am receiving the message as due your no:9677092681 going for permanent disconnection due to default of INR 860 So pls make the payment today to avoid disconnection.

In the above message...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-wrong-bill-and-fraud-services-on-the-bytes-usages-c1001747#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/broadband">Broadband</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001679">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-airtel-change-my-internet-plan-without-informing-me-c1001679">Airtel - Airtel Change My internet plan without informing me..</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2008268"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2008268">Amarjitdasuya</a>
			 
			on Jan 31, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">Airtel ID ::1025573989
i am reqular user of Airtel from long time.
in the month of Januray 2015
without informing me my internet plan has changed from 199 unlimited to 175..and make my bill
decive to me. plz give solution with 24 hour..
else i will follow all alternative fronts and services
regards
lecturer Amarjit singh...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-airtel-change-my-internet-plan-without-informing-me-c1001679#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001668">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-disconnection-of-number-and-misbehaviour-by-airtel-executives-c1001668">Airtel - Disconnection of Number and misbehaviour by Airtel executives</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2008254"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2008254">Mohit Chopra gurgaon</a>
			 
			on Jan 31, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">Unfortunately, I am a Airtel costumer using their prepaid mobile services for past 8 years. Yesterday shockingly my mobile phone was barred from receiving incoming and outgoing calls, thinking it to be some temporary issue on the part of Airtel I ignored it till today morning (i.e. 31st January, 2015). However when the services did not resume till the evening, i got slightly anxious and made a call to the airtel customer care and was shocked to know that the number has been barred by them and the reason given by the service provider was that they are re verifying customer details/documents. However,...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-disconnection-of-number-and-misbehaviour-by-airtel-executives-c1001668#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001631">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-regarding-incoming-and-outgoing-calls-c1001631">Airtel - Regarding incoming and outgoing calls</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2008205"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2008205">Gopikkaa</a>
			 
			on Jan 31, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">I am residing at Ekkattuthangal in chennai.In our area from 26th January 2015 we airtel customers are not able to get and make any incoming and outgoing calls and messages.So see to this problem and take corrective measures to overcome this disputes....</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-regarding-incoming-and-outgoing-calls-c1001631#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001510">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-worst-company-c1001510">Airtel - Worst company</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2008052"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2008052">Harit Munjal</a>
			 
			on Jan 31, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">Mr. Manish (Sales men ) is such a lier ... and boss of this airtel company is damn rude .. dont know how to talk to clients .. 

I would suggest everyone ... Not to trust these airtel ppl ..

Super Bekaaar .. Vahiyaadddd Companyyy 

Pagal banane me number oneeee AIRTELLL...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-worst-company-c1001510#comments">Read comments</a> <span class="small">[1]</span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/landline-home-phone-providers">Landline & Home Phone Provider</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1001445">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-airtel-online-shoping-problem-c1001445">Airtel - AIRTEL ONLINE SHOPING PROBLEM</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2007972"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2007972">kondareddy b</a>
			 
			on Jan 31, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">I BOOKED AIRTEL DTH NEW CONNECTION ON 26.1.2015 THROUGH AIRTEL ONLINE SHOPING AND MY MONEY WAS DEDUCTED AND CREDITED TO BHARATI TELIMEDIA LTD, BUT I DIDN'T GET ANY MESSAGE FROM AIRTEL REGARDING BOOKING. AIRTEL CUSTOMER CARE SAYING WE ARE NOT RESPONSABLE FOR THE ONLINE BOOKING 
SO PLEASE HELP ME OUT ON THIS...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-airtel-online-shoping-problem-c1001445#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/credit-cards">Credit Cards</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1000975">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-didnt-receive-net-pack-for-rs1298-for-mob-no-9677106223-c1000975">Airtel - Didnt receive net pack for Rs.1298 for mob no 9677106223</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2007397"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2007397">Swathi Shyam</a>
			 
			on Jan 30, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">Dear Sir, 

I have recharged my mobile no 9677106223 with 3G net pack for 60 days which costs Rs, 1298. My transaction id is 130705862. The amount got debited from my bank also. But, till now i did not receive the recharge. Kindly, I request you to recharge my no with that net pack or either credit the amount to my account back asap.


Thanks, 

Shyam Sundar. R...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-didnt-receive-net-pack-for-rs1298-for-mob-no-9677106223-c1000975#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/broadband">Broadband</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1000903">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-poor-network-raising-my-bill-every-month-c1000903">Airtel - Poor network raising my bill every month</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2007313"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2007313">Pranjal Paliwal</a>
			 
			on Jan 30, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">I have raised an issue with Airtel on 06-JAN-2015 ( Reference no. 59699394) regarding very limited or no network service in our company campus at "Fiserv India, DLF NOIDA TOWERS, Tower - C and D, A-44/45 Sector-62, NOIDA).

This issue is experienced by many colleagues using AIRTEL service in both outgoing and incoming calls as well as 3G data.

Due to this I have to make 4-5 calls whenever I try calling someone as the calls keep on disconnecting, similarly I have to call back when someone calls me as they can't hear me.
This is not a hadset problem as it is experienced by most of my colleagues...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-poor-network-raising-my-bill-every-month-c1000903#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1000842">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-non-credit-of-data-balance-c1000842">Airtel - Non credit of data balance</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-1916398"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-1916398">Zalen Gam</a>
			 
			on Jan 30, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">I recharged my Airtel no. 8132826865 with Rs. 198 for 2Gb data on 29.01.15. But even after everything is shown as completed and my money debited from my account, 2 GB is yet to be credited to my data account. Pls rectify it as soon as possible.
Thanks

Zalen...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-non-credit-of-data-balance-c1000842#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1000807">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-data-card-activation-c1000807">Airtel - data card activation</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2007190"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2007190">Lohar</a>
			 
			on Jan 29, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">I purchased a data card from shapeinn marketing before 1 week of post paid plans but the dident provided connection by saying that we dont provide the connection to chawl costumers n when i xonverted it to prepaid plan they promised me to stast it by evening an still its not done n even toll free customer care no. Is not getting connected which is 18001034444....</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-data-card-activation-c1000807#comments">Read comments</a> <span class="small">[1]</span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bycategory/other">Other</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1000789">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-incorrect-rate-plan-migration-for-9880078800-c1000789">Airtel - Incorrect Rate Plan Migration for 9880078800</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2007171"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2007171">drharishrao</a>
			 
			on Jan 29, 2015 
			
			 
		</td>
	</tr>
	<tr>	
		<td colspan="3">
			<table>
				<tr>
					<td class="small"></td>
					<td class="small"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="compl-text" colspan="3" style="padding-bottom:7px;">
			<!--div style="margin:5px 0px;"><b></b></div-->
			<div style="padding-top:6px;">Dear Sir, 


I hold 2 Airtel Postpaid Corporate Connections bearing the numbers 9880068800 &amp; 9880078800 under the SAME Corporate 299 Rate plan since over 6 years.


Recently I opted for a migration to the new myPlan Corp 599 for both numbers. Surprisingly 9880068800 was migrated to myPlan Corp 599 plan with 22 Freebies while 9880078800 was migrated to the usual myPlan Family 599 plan with only 20 Freebies.


When I contacted customer care through phone &amp; e-mail, they never accept the mistake and keep on asking for re-submission of documents which is quite ridiculous. They totally...</div>
    </td>
	</tr>
	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-incorrect-rate-plan-migration-for-9880078800-c1000789#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div><div id="c1000730">
<table style="width:100%">
	<tr>
		<td class="complaint" style="padding-top:5px;padding-bottom:2px;" colspan="3">
			
			<h4><a href="/airtel-exorbitant-amount-800-deducted-for-data-usage-of-10-mins-c1000730">Airtel - Exorbitant amount ~800 deducted for data usage of 10 mins</a></h4>
		</td>
	</tr>
	<tr>
		<td class="small" colspan="3" style="vertical-align:middle;">
			
				<a href="/profile-2007102"><div class="profimgcont"><img src="~/images/blank_profile.jpg" alt="User" style="width:20px;height:20px;"></div></a>&nbsp;<a href="/profile-2007102">Avant Agarwal</a>
			 
			on Jan 29, 2015 
			
			 
		</td>
	</tr>

	<tr class="small">
		<td style="padding-bottom:5px;"><img src="~/images/comments.gif" alt="Complaint comments" title="Complaint comments" style="vertical-align:middle"/> <a href="/airtel-exorbitant-amount-800-deducted-for-data-usage-of-10-mins-c1000730#comments">Read comments</a> <span class="small"></span></td>
		
		<td style="text-align:right"><img src="~/images/category.gif" alt="Complaint category" title="Complaint category" style="vertical-align:middle;"/><span style="vertical-align:middle;"> <a href="/bysubcategory/mobile-service-providers">Mobile Service Providers</a></span></td>
	</tr>
	<tr><td class="under bb" colspan="3"></td></tr>
</table>
</div>
   
<div align="center"><div class="pagelinks" style="padding-top:50px;"><span>Previous</span> <b>1    </b><a href="#">2    </a><a href="#">3    </a><a href="#">4    </a><a href="#">5    </a><a href="#">6     </a><a href="#">7     </a><a href="#">8     </a><a href="#">9     </a>...<a href="#">891</a> <a href="#">Next</a></div></div>

    </div>

   </section> <!-- Homepage Hero end -->






   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="~/Scripts/jquery.flexslider.js"></script>
   <script src="~/Scripts/waypoints.js"></script>
   <script src="~/Scripts/jquery.fittext.js"></script>
   <script src="~/Scripts/jquery.fitvids.js"></script>
   <script src="~/Scripts/imagelightbox.js"></script>
   <script src="~/Scripts/jquery.prettyPhoto.js"></script>   
   <script src="~/Scripts/main.js"></script>

</body>

</html>