<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>CTS</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="~/Content/default.css">
	<link rel="stylesheet" href="~/Content/layout.css">
   <link rel="stylesheet" href="~/Content/media-queries.css">
   <link rel="stylesheet" href="~/Content/animate.css">
   <link rel="stylesheet" href="~/Content/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/bush.css">
    <link rel="stylesheet" href="~/Content/search.css">

   <!-- Script
   ================================================== -->
	<script src="~/Scripts/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >
    <style>
      
#About { background-color: #808080; }
        #new {
            background-color: #b6ff00;
        }
        hr
{
color: #cec6c6;
background-color: #cec6c6;
height: 5px;
}
       
       
    </style>
</head>

<body>

   <div id="preloader">      
      <div id="status">
        @* <img src="~/images/preloader.gif" height="64" width="64" alt="">*@
      </div>
   </div>

   <!-- Header
   ================================================== -->
   <header>

      @*<div class="logo">
         <a class="smoothscroll" href="#hero"><img alt="" src="~/images/logo.png"></a>
      </div>*@

      <nav id="nav-wrap">         
         
         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>         

         <ul id="nav" class="nav">
            <li><img alt="" src="~/images/White_on_black_background_192x75.png" alt="" width="200" height="50"></li>
           <li> <div class="HeadersearchBox"><input type="text" value="Search..." class="searchTextBox" id="search" /></div></li>
             <li> <img src="~/images/pic.jpg" alt="" height="40" width="50"/></li>
             <li>@Html.ActionLink("Bushra", "ViewProfileAdmin","Admin_Panel" ) </li>
            <li>@Html.ActionLink("Home", "IndexAdmin","Admin_Panel" )</li>
             <li>@Html.ActionLink("Complaints", "ComplaintsAdmin","Admin_Panel" )></li>
	         <li>@Html.ActionLink("Search Complaints", "SearchAdmin","Admin_Panel" )></li>
             <li>@Html.ActionLink("Map", "MapAdmin","Admin_Panel" )></li>
             <li>@Html.ActionLink("Reports", "ReportsAdmin","Admin_Panel" )></li>
            <li>@Html.ActionLink("About", "Index","Home/Index" )</li>
   
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <ul class="header-social">

                 <nav id="nav-wrap">
	<ul id="nav" class="nav">
	<li><a href="#"><i class="fa fa-cog"></i></a>
			<ul>
				<li><a href="/Admin_Panel/ViewProfileAdmin">View_profile</a></li>
				
				
						<li><a href="/Admin_Panel/UpdateProfileAdmin">Update_profile</a></li>
					
                <li><a href="/Admin_Panel/DeleteProfileUser">Delete_profile</a></li>
                    <li><a href="#">Logout</a></li>
			</ul>
		</li>
	
	</ul>
</nav>
      </ul>

   </header> <!-- Header End -->

   <section id='login'>
     <div class="row feature design">
        <h1>Bushra Tajammal</h1>

         <div class="six columns feature-media left">
             <img src="~/images/pic.jpg" alt="" height="300" width="700"/>
              
         </div>

      </div>
            <div class="row feature design" id="About" >
         <h2 id="new">About</h2>
              
         </div>
          <div class="row feature video">
              <div class="six columns left">
        <div class="row feature design" id="About2" >
        <div id="bushra">

            <ul id="nav" class="nav">
        
                    <li id="1"><h2>Overview</h2></li>
                <hr width="50%">
                   
                    <li id="2"><h2>Work And Education</h2></li>
                <hr width="50%">
                <li id="3"><h2>Contact And Basic Info</h2></li>
                <hr width="50%">

               <li id="4"><h2>Details About You</h2></li>
                <hr width="50%">
                   
                </ul>
            </div>
            </div></div>

          <div class="six columns feature-media right" id="bushi">
                  <table id=table1 ></table>
                       @Scripts.Render("~/bundles/jquery")
            <script>
                $(document).ready(function () {

                    $('#1').click(function () {
                        $('#table1 tr').remove();
                        $('#table tr').remove();
                        $('#over1').remove();
                        $('#over2').remove();
                        $('#over3').remove();
                        $('#over4').remove();
                        $('#table1').append('<div id="over1"><tr><td><h3>Bushra Tajammal<h3></td><td><h3>Working at </h3><a href="#">Punjab University,Lahore</a></td><td><h3>Lives In</h3> Lahore,Pakistan</td><td><h3>Study at: </h3><a href="#">Punjab University,Lahore</a></td><td><h3>Born :</h3> May 23,1993"</td></tr></div>');
                    });
                    $('#2').click(function () {
                        $('#table1 tr').remove();
                        $('#table tr').remove();
                        $('#over1').remove();
                        $('#over2').remove();
                        $('#over3').remove();
                        $('#over4').remove();

                        $('#table1').append('<div id="over2"><tr><td><h3>Working at </h3><a href="#">Punjab University,Lahore</a><br></td><td><h3>Education</h3>BSIT (Software Engineering)<br></td><td></td></tr><div>');
                    });
                    $('#3').click(function () {



                        $('#table1 tr').remove();
                        $('#table tr').remove();
                        $('#over1').remove();
                        $('#over2').remove();
                        $('#over3').remove();
                        $('#over4').remove();
                        $('#table1').append('<div id="over3"><tr><td><h3>Gender </h3>Female<br></td><td><h3>Contact No</h3>+923003333312</td></tr></div>');
                    });
                    $('#4').click(function () {

                        $('#table1 tr').remove();
                        $('#table tr').remove();
                        $('#over1').remove();
                        $('#over2').remove();
                        $('#over3').remove();
                        $('#over4').remove();


                        $('#table1').append('<div id="over1"><tr><td><h3>Bushra Tajammal<h3></td><td><h3>Working at </h3><a href="#">Punjab University,Lahore</a><br></td><td><h3>Lives In</h3> Lahore,Pakistan<br></td><td><h3>Study at: </h3><a href="#">Punjab University,Lahore</a><br></td><td><h3>Born :</h3> May 23,1993"<br></td></tr></div>');
                        $('#table1').append('<div id="over2"><tr><td><h3>Working at </h3><a href="#">Punjab University,Lahore</a><br></td><td><h3>Education</h3>BSIT (Software Engineering)<br></td><td></td></tr></div>');
                        $('#table1').append('<div id="over3"><tr><td><h3>Gender </h3>Female<br></td><td><h3>Contact No</h3>+923003333312<br></td><td></td></tr></div>');
                    });

                });
                </script>
        </div>
          
  </div>



   </section> <!-- Homepage Hero end -->









   

   </footer> <!-- Footer End-->


   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="~/Scripts/jquery.flexslider.js"></script>
   <script src="~/Scripts/waypoints.js"></script>
   <script src="~/Scripts/jquery.fittext.js"></script>
   <script src="~/Scripts/jquery.fitvids.js"></script>
   <script src="~/Scripts/imagelightbox.js"></script>
   <script src="~/Scripts/jquery.prettyPhoto.js"></script>   
   <script src="~/Scripts/main.js"></script>

</body>

</html>